$primary: #798568;
$bg: darken($primary, 25%);
$main: darken($primary, 10%);
$highlight: lighten($primary, 5%);

body {
   margin: 0;
}

#app {
   width: 100%;
   height: 100vh;
   display: flex;
   background: $bg;
}

.grid {
   margin: auto;
   --count: 10;
   --s: 120px;
   --m: 10px;
   --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
   display: flex;
   flex-wrap: wrap;
   width: calc(var(--s) * var(--count) * 1.5);
   gap: 0px calc(var(--s) / 2);
   transform: translateX(calc(var(--s) * -0.5));

   .spot {
      width: var(--s);
      height: calc(var(--s) * 0.866);
      position: relative;
      transition: all 0.1s;
      margin-block: calc(var(--s) * -0.2165);

      &:hover {
         transform: scale(1.2);
         z-index: 10;
      }

      &.disabled {
         pointer-events: none;
         opacity: 0;
      }

      &.even {
         transform: translateX(calc(75%));

         &:hover {
            transform: scale(1.2) translateX(calc(62.5%));
         }
      }

      > * {
         margin: auto;
      }
   }
}

img {
   width: 100%;
   height: auto;
}

.toolbar {
   position: fixed;
   display: flex;
   left: 0;
   right: 0;
   bottom: 0;
   height: 70px;
   background: #fff3;
   z-index: 100;
   border-top: solid 4px black;

   .button {
      width: 50px;
      padding: 10px 20px;
      position: relative;
      cursor: pointer;

      &:hover {
         background-color: #fff3;
         box-shadow: inset 2px 0 #000, inset -2px 0 #000;

         .inner {
            display: flex;
         }
      }
   }

   .inner {
      display: none;
      width: 210px;
      flex-wrap: wrap;
      position: absolute;
      bottom: 100%;
      left: 0;
      background-color: #606459;
      border: solid 3px black;
      padding: 5px;

      .grid {
         padding-block: 30px;
         transform: none;
      }
   }
}
